<div class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                <img src="https://www.medibuddy.in/assets/images/medibuddy-icon.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                <span class="text-primary fw-semibold"> Medlife </span>
            </a>
            <div class="text-end">
                 <a class="text-decoration-none me-3">About Us</a>
                 <a  class="text-decoration-none ms-2">Login</a>
            </div>
        </div>
    </nav>
</div>