.home-container{
    width: 60%;
}

.title{
    font-size: 18px;
}

.text{
    font-size: 14px;
}

.gold-btn{
    background-color: goldenrod;
}

.info{
    position: relative;
    top: 50px;
    left: 10px;
}