<div class="container home-container mt-2 cursor">
    <div class="d-flex flex-row justify-content-around align-items-center mb-3">
        <div class="p-2">
            <a>
                <img src="../../../assets/images/talk_to_doctor.jpeg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Talk To Doctor</h6>
            </a>
        </div>
        <div class="p-2">
            <a routerLink="/medicine-home" class="text-decoration-none">
                <img src="../../../assets/images/medicines.jpeg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Medicine</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="../../../assets/images/surgery.jpeg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Surgery</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="../../../assets/images/insurance.jpeg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Insurance</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="../../../assets/images/labs_test.jpeg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Lab Tests</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Insurance</h6>
            </a>
        </div>
    </div>
</div>

<div class="container mt-2 home-container p-4 rounded-pill border shadow-sm">
    <div class="row">
        <div class="col-md-6 text-end">
            <h5 class="pt-3">Consult with Top Doctors Online, 24x7</h5>
        </div>
        <div class="col-md-4">
            <p class="border p-3 text-center text-primary rounded-pill border shadow-sm">Start Consultation <i
                    class="bi bi-arrow-right fs-5 ms-2"></i>
            </p>
        </div>
    </div>
</div>

<div class="container w-75 mt-4">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container w-75 mt-4">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
    </div>
</div>

<div class="container w-75 mt-5">
    <div class="row">
        <div class="col-md-6">
           <h4 class="mt-1">Medi Buddy GOLD</h4>
           <h3 class="mt-4">Give the care your family deserves</h3>
           <h6 class="mt-4 fs-5">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h6>
           <p class="border mt-5 w-50 p-2 text-center rounded-pill fw-bold gold-btn">Buy MedLife Gold <span><i class="bi bi-arrow-right fs-4 pt-2 ms-2"></i></span></p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="card rounded-3" style="width: 15rem;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class=" mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Unlimited Free Consultations</h5>
                        <p class="card-text text">Get unlimited free consult with all <strong> doctors 24x7.</strong></p>
                    </div>
                </div>
                <div class="card ms-4 rounded-3 info" style="width: 15rem;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Free For Full Family</h5>
                        <p class="card-text text">Free consultations for upto <strong> 6 family members</strong>.</p>
                    </div>
                </div>
                <div class="card mt-4 rounded-3" style="width: 15rem;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Free For All Health Problems</h5>
                        <p class="card-text text">Consult with any doctor from <strong>18 departments </strong> at any time.</p>
                    </div>
                </div>
                <div class="card ms-4 mt-4 rounded-3 info" style="width: 15rem;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Video Consultations</h5>
                        <p class="card-text text">Video Consults with top doctors  <strong>24x7.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">

</div>