<div class="container-fluid p-2 bg-primary text-white">
    <div class="row">
        <span class="ms-5 fs-4 fw-semibold"><i class="bi bi-arrow-left fs-4 me-2" routerLink="/medicine-home"></i> Top Deals</span>  
    </div>
 </div>
 <div class="container-fluid p-3 text-bg-light">
    <div class="row">
       <div class="col-md-6 text-center">
         <span> Showing Medicine Availability and Price in &nbsp;<span class="text-primary ms-1">Bengaluru,560029</span>  </span>
       </div>
    </div>
 </div>
 