/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor {
    cursor: pointer;
}